@import "config";
@import "menu";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	// @include background;
	background: $color-fourth;
	color: set-color($color-fourth);
	margin: 0;
	font-family: "Roboto", sans-serif;
}

h1,
h2 {
	font-weight: 500;

	&.name {
		font-size: 4rem;
	}
}

.bimg1,
.bimg2,
.bimg3 {
	display: block;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.bimg {
	&1 {
		background: url("../images/hvezdy.jpeg");
		min-height: 100vh;

		.head-content {
			position: absolute;
			top: 20%;
			width: 100%;
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 5rem;

			.name {
				grid-area: name;
				margin: 0;
				padding: 0;
			}

			.tools {
				text-align: center;
				font-size: 1.2rem;
			}

			i {
				margin-right: 0.4rem;
				animation: colorPulse 3s infinite;
			}

			@keyframes colorPulse {
				from {
					color: $color-secondary;
				}
				to {
					color: set-color($color-primary);
				}
			}

			@for $x from 1 through 5 {
				i:nth-child(#{$x}) {
					animation-delay: $x * 0.5s;
				}
			}
		}
	}

	&2 {
		background-image: url("../images/code_photo.jpeg");
		min-height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;

		.projects-heading {
			font-size: 2rem;
			padding: 1rem 2rem;
			border-radius: 10px;
			background: $color-fourth;
			color: $color-primary;
		}
	}

	&3 {
		background-image: url("../images/mountain.jpeg");
		min-height: 400px;
	}
}

main {
	margin: 0 auto;

	section {
		&.about {
			max-width: 600px;
			margin: 4rem auto;

			.heading {
			}

			.text {
			}
		}

		&#projects {
			display: flex;
			flex-direction: column;
			align-items: center;

			.project {
				border: 1px solid $color-secondary;
				width: 700px;
				margin: 2rem;
				display: grid;
				padding: 1rem;
				border-radius: 10px;
				background: lighten($color-fourth, 5);
				// prettier-ignore
				grid-template-areas: "img heading"
									 "img text"
									 "img text";

				&-heading {
					grid-area: heading;
				}
			}

			.image1 {
				background: url("../images/recipe\ app\ image.JPG");
				grid-area: img;
			}
			.image2 {
				background: url("../images/fitapp\ image.JPG");
				grid-area: img;
			}
			.image3 {
				background: url("../images/placesapp\ image.JPG");
				grid-area: img;
			}

			.project-description {
				width: 300px;
				height: 300px;
				background-size: cover;
				color: transparent;

				&:hover > .overlay {
					visibility: visible;
				}

				.overlay {
					background: rgba($color-primary, 0.7);
					visibility: hidden;
					height: 300px;
					width: 300px;
					color: black;
					padding: 2rem;
					font-weight: 600;
					text-align: center;
					// letter-spacing: 1px;
				}
			}

			.project-github {
				float: right;

				&:hover {
					color: $color-secondary;
				}
			}
		}

		&#contact {
			text-align: center;

			.contact-line {
				width: 40%;
				margin-top: 3.5rem;
				margin-bottom: 3.5rem;
			}

			.contact-email {
				display: inline-block;
				font-size: 1.5rem;
				margin: 0.5rem;
				text-decoration: none;
				color: set-color($color-fourth);

				&:hover {
					color: $color-secondary;
					letter-spacing: 0.05rem;
					@include transition;
				}
			}
		}
	}
}

.footer {
	background: $color-primary;
}

.icons {
	padding: 2rem;
	text-align: center;

	a {
		padding: 0.6rem;

		&:hover {
			color: $color-secondary;
			@include transition();
		}
	}
}

.copyright {
	padding: 2rem;
}

@import "mobile";
